<div class="row contenedor">
  <h1 class="col-12">Mi CV Interactivo</h1>
  <div class="col formulario">
    <form>
      <div class="form-group row">
        <label class="col-sm-2">Nombre: </label>
        <input #inputNombre (input)="setNombre(inputNombre.value)" type="text" class="col-sm-9 form-control" id="nombre" aria-describedby="emailHelp" placeholder="Tu nombre">
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Apellidos: </label>
        <input #inputApellidos (input)="setApellidos(inputApellidos.value)" type="text" class="col-sm-9 form-control" id="apellidos" placeholder="Tus Apellidos">
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Email: </label>
        <input #inputEmail (input)="setEmail(inputEmail.value)" type="email" class=" col-sm-9 form-control" id="email" placeholder="Tu correo electronico">
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Fecha de nacimiento: </label>
        <input #inputFecha (input)="setFecha(inputFecha.value)" type="date" class="col-sm-8 offset-sm-1 form-control" id="fechaNacimiento" placeholder="dd/mm/aaaa">
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Foto: </label>
        <input #inputFoto (input)="setFoto(inputFoto.files[0].name)" type="file" class="col-sm-9 offset-sm-1" id="foto">
      </div>
      <div class="form-group row">
        <label class="col-sm-2">Skills: </label>
        <input id="inputSkill" type="text" #inputSkill>
        <button  class="col-sm-1" type="button" (click)="addSkill(inputSkill.value)">+</button>
      </div>
    </form>
  </div>
  <div class="col cv">
    <div class="row">
      <h1 class="col-12">{{nombre}} {{apellidos}}</h1>
      <div class="col-sm-7">
        <p>Email: {{email}}</p>
        <p>Fecha de nacimiento: {{fecha}}</p>
        <p>Skills: </p>
        <ul>
          <li *ngFor="let skill of skills">{{skill}}</li>
        </ul>
      </div>
      <div class="col-sm-5">
        <img src="assets/{{foto}}">
      </div>
    </div>

  </div>
</div>
